{% comment %}
  Usage: {% include project-card.html project=project %}
{% endcomment %}
<a class="project-card" href="{{ project.url | relative_url }}">
  <div class="project-card__media" {% if project.cover_image %}style="background-image:url('{{ project.cover_image | relative_url }}');"{% endif %}>
    {% unless project.cover_image %}<span class="project-card__initial">{{ project.title | slice: 0 }}</span>{% endunless %}
  </div>
  <div class="project-card__body">
    <h3 class="project-card__title">{{ project.title }}</h3>
    {% if project.subtitle %}<p class="project-card__subtitle">{{ project.subtitle }}</p>{% endif %}
    {% if project.tech %}
      <ul class="tag-list">
        {% for t in project.tech %}<li class="tag">{{ t }}</li>{% endfor %}
      </ul>
    {% endif %}
  </div>
</a>
